set timeout=15
set default=1
set gfxmode=1280x768x32
set gfxpayload=keep
insmod all_video
insmod video_bochs
insmod video_fb
insmod vbe
insmod vga

menuentry 'C kernel OS (CkOS)' {
	multiboot2 /bootImage.elf
	boot
}
menuentry 'C kernel OS (CkOS) with serial output' {
	multiboot2 /bootImage.elf s_out
	boot
}
menuentry 'C kernel OS (CkOS) with serial input + output' {
	multiboot2 /bootImage.elf s_in s_out
	boot
}
menuentry 'C kernel OS (CkOS) with reduced output' {
	multiboot2 /bootImage.elf shut_up
	boot
}
menuentry 'C kernel OS (CkOS) with serial output + reduced output' {
	multiboot2 /bootImage.elf s_out shut_up
	boot
}
menuentry 'C kernel OS (CkOS) with serial input + output + reduced output' {
	multiboot2 /bootImage.elf s_out s_in shut_up
	boot
}
