menuentry 'C kernel OS (CkOS) 0.02' {
	multiboot /bootImage.elf
	boot
}
menuentry 'C kernel OS (CkOS) 0.02 with serial output' {
	multiboot /bootImage.elf s_out
	boot
}
menuentry 'C kernel OS (CkOS) 0.02 with serial input + output' {
	multiboot /bootImage.elf s_out s_in
	boot
}
